body * {
  box-sizing: border-box;
  font-family: Inter;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

.header {
  color: rgb(102, 102, 102);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(251, 251, 251);
  padding-bottom: 14px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.header__logo {
  margin-right: 240px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 56px;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
}

.header__nav-item:not(:last-child) {
  margin-right: 32px;
}

.header__button {
  max-width: 200px;
  width: 100%;
  min-height: 40px;
  border-radius: 12px;
  background: rgb(11, 69, 127);
  color: rgb(251, 251, 251);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.header__line {
  box-sizing: border-box;
  border: 1px solid rgb(206, 206, 206);
}

.header__sub {
  display: flex;
  justify-content: space-between;
}

.header__sub-list {
  display: flex;
  column-gap: 56px;
}

.header__sub-item {
  position: relative;
  margin-left: 24px;
}

.header__sub-item:first-child::before {
  content: "";

  position: absolute;
  left: -24px;
  bottom: 0px;

  min-width: 16px;
  min-height: 17px;
  background-image: url("../images/header/geo.svg");
}

.header__sub-list .header__sub-item:last-child::before {
  content: "";

  position: absolute;
  left: -24px;
  bottom: 0px;

  min-width: 16px;
  min-height: 17px;
  background-image: url("../images/header/route.svg");
}

.header__sub-item:last-child::before {
  content: "";

  position: absolute;
  left: -24px;
  bottom: 0px;

  min-width: 17px;
  min-height: 17px;
  background-image: url("../images/header/time.svg");
}

.main-header {
  color: rgb(62, 62, 62);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.main__hero {
  color: rgb(255, 255, 255);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "item1 item3 item2"
    "item1 item4 item2";
}

.item1 {
  grid-area: item1;
  height: 512px;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.main__hero-item {
  border-radius: 12px;

  position: relative;
  overflow: hidden;
  z-index: 99;
  background: linear-gradient(
      87.14deg,
      rgba(18, 18, 18, 0.6) 3.289%,
      rgba(0, 0, 0, 0) 96.307%
    ),
    url("../images/main/item.png"), rgb(217, 217, 217);

  padding: 32px 54px 0px 32px;
}

.main__hero-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  margin-bottom: 12px;
}

.main__hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  margin-bottom: 32px;
}

.main__hero-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.46px;

  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 12px 28px;
}

.main__hero-img1 {
  position: absolute;
  top: 307px;
  left: 12px;
}

.main__hero-img2 {
  position: absolute;
  z-index: 2;
  top: 334px;
  left: 66px;
  width: 347px;
}

.wrapper {
  position: absolute;
  border-radius: 50%;
  background: rgb(18, 18, 18, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.item-wrapper2 {
  right: 136px;
  top: 251px;

  width: 331px;
  height: 331px;

  background-image: url("../images/main/item2-vector.svg");
}

.main__hero-img3 {
  position: absolute;
  top: 132px;
  left: 245px;
}

.item-wrapper3 {
  width: 195px;
  height: 195px;

  right: 57px;
  top: 55px;

  background-image: url("../images/main/item3-play.svg");
}

.main__hero-img4 {
  position: absolute;
  top: 95px;
  left: 254px;
}
